<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_jenkin">
  <test thread-count="5" name="Test_jenkin">
    <classes>
      <class name="jenkins_test.Jenkins_run"/>
    </classes>
  </test> <!-- Test_jenkin -->
</suite> <!-- Suite_jenkin -->
